/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary_color: White;
    --secondary_color: rgb(207, 19, 19);
    --black: black;
    --background: rgb(237, 237, 237);
    --head: rgb(55, 55, 64);
    --paragraph: rgb(126, 126, 143);

}

::selection {
    background-color: rgb(217, 85, 85);
    color: var(--primary_color);

}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

.container {
    width: 85%;
    margin: 0 auto;
}

/* Nav bar section */
.nav {
    background-color: var(--primary_color);
    height: 15vh;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    box-shadow: 0px 0px 14px 0px #0000001b;

}

.nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 30%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.logo a {
    font-size: 1.8em;
    color: var(--black);
    font-weight: 700;
    align-self: center;
}

.logo a span {
    color: var(--secondary_color);
}

.links {
    text-align: center;
}

.links ul {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1.5em;
    padding-left: 20em;
}

.links ul li a {
    color: var(--paragraph);
    font-weight: 600;
    font-size: 1.05em;
}

.links ul li a.first {
    color: var(--black);
}

.links ul li a.first::after {
    content: "";
    border-bottom: 2px solid var(--secondary_color);
    padding-bottom: 5px;
    color: var(--black);
    display: block;
}

.links ul li a:hover {
    color: var(--black);

}

.links ul li a:hover::after {
    content: "";
    border-bottom: 2px solid var(--secondary_color);
    display: block;
}

.dark {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.dark i {
    font-size: 1.5em;
}
.menu{opacity: 0;
font-size: 1.5em;
}
/* hero section */
.hero {
    padding-bottom: 5%;
    background-color: var(--background);
    padding-inline: 10%;
    min-height: 100vh;
}

.hero .container {
    display: inline-flex;
    justify-content: center;
    margin-top: 6.25em;
}

.hero .container .text {
    margin: auto 0;
    padding-top: 4em;
}

.dish {
    width: 100%;
    position: relative;
    left: 14em;
    top: 3em;
}

.dish img {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.692);
    border-radius: 50%;
}

.dish img:hover {
    animation: shake 0.3s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
        transform: rotate(0);
    }

    25% {
        transform: translate(6px, 0);
        transform: rotate(2deg);
    }

    50% {
        transform: translate(-6px, -6px);
        transform: rotate(0deg);
    }

    75% {
        transform: translate(6px, 0);
        transform: rotate(-2deg);
    }

    100% {
        transform: translate(0, 0);
        transform: rotate(0);
    }
}

.btns {
    display: inline-flex;
    justify-content: space-around;
    gap: 2em;
    align-items: center;
    margin-top: 1em;
}

.btn {
    background-color: var(--secondary_color);
    color: var(--primary_color);
    border-radius: 0 25px 25px;
    padding-inline: 1.4em;
    padding-block: 0.7em;
}

.btn:hover {
    background-color: rgb(228, 35, 35);
}

.circle {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--primary_color);
    padding: 0.7em;
    border: 6px solid var(--secondary_color);
    border-top-color: transparent;
    border-right-color: transparent;
    background-clip: padding-box;
    rotate: 45deg;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.circle i {
    rotate: -45deg;
}

.Youtube a {
    color: var(--head);
    font-weight: 500;
}

.Youtube a:hover {
    color: var(--secondary_color);
}

.text h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 4.06em;
    color: var(--head);
}

.text p {
    color: var(--paragraph);
    width: 110%;
    padding-block: 1.25em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Chefs Section */
.chefs {
    height: auto;
    padding-bottom:5%;
    background-color: var(--primary_color);
    text-align: center;

}

.head {
    margin-block: 4em;
    text-transform: uppercase;
    text-align: center;
}

.head h2 {
    font-family: sans-serif;
    color: var(--paragraph);
    font-size: 0.8em;
    font-weight: 400;
}

.head p {
    font-size: 3.125em;
    color: var(--head);
    font-family: "Amatic SC", sans-serif;
}

.head span {
    color: var(--secondary_color);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

}

.card {
    width: 31%;
    border: 1px solid var(--primary_color);
    border-radius: 20px;
    box-shadow: 0px 0px 14px 0px #0000001b;
    padding-bottom: 2em;
    transition: all 0.5s ease;

}

.card img {
    border-radius: 8px;

}

.card .photo {
    position: relative;
}

.overlay {
    position: absolute;
    right: 1em;
    top: 3em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.5s linear;
    background-color: rgba(255, 255, 255, 0.384);
    gap: 2em;
    border-radius: 5px;
    visibility: hidden;
}

.overlay i {
    color: var(--paragraph);
    font-size: 1.1em;
    margin: 5px;

}

.card:hover {
    transform: scale(1.08);

}

.card:hover .overlay {
    visibility: visible;
}

.card:hover .overlay i:hover {
    color: var(--black);
}

.photo svg {
    margin-top: -140px;
}

.content h3 {
    margin-top: 0px;
    font-size: 1.25em;
    color: rgb(33, 37, 41);
    font-family: sans-serif;
}

.content span {
    display: block;
    color: var(--paragraph);
    font-size: 0.8em;
    padding-block: 1em;
}

.content p {
    font-family: "Open Sans";
    font-style: italic;
    max-width: 21em;
    font-size: 0.9em;
    text-align: center;
    padding-left: 0.5em;
    color: var(--paragraph);
}

/* Gallery section */
.Gallery {
    background-color: var(--background);
    height: auto;
    padding-top: 4em;
     padding-bottom:5%;
}

.sections {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.section {
    width: 32%
}

.img {
    border: 4px solid var(--primary_color);
    margin-bottom: 0.8em;
    position: relative;
}

.overlay-1 {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.5);
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.img:hover .overlay-1 {
    height: 100%;

}

.hover {
    color: var(--primary_color);
    text-align: center;
}

.img:hover .overlay-1 .hover {
    color: var(--primary_color);
    text-align: center;
}

/* Contact section */
.contact {
    height: auto;
     padding-bottom:5%;
    background-color: var(--primary_color);
}

iframe {
    width: 100%;
    height: 388px;
    margin-bottom: 3em;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
}

.row {
    background-color: var(--background);
    margin-bottom: 1em;
    margin-left: 1em;
    width: 48%;
    display: inline-flex;
    padding-block: 1.5em;
    padding-left: 0.5em;
}

.icon {
    color: var(--primary_color);
    background-color: var(--secondary_color);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-right: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail h3 {
    font-size: 1.25em;
    color: var(--paragraph);
    font-family: sans-serif;
}

.detail span {
    font-weight: 700;
}

.inputs {
    margin-top: 1em;
    display: block;
    border: 1px solid var(--primary_color);
    box-shadow: 0px 0px 14px 0px #0000001b;
    width: 98%;
    margin-left: 1em;
    padding-top: 1em;
    text-align: center;
}

.inputs input {
    width: 97%;
    margin: 10px;
    border: 3px solid var(--background);
    padding-left: 1em;
    padding-block: 1em;
    outline: none;
}

.inline {
    margin-left: 5px;
    display: flex;
    width: 99%;
    outline: none;
}

textarea {
    border: 3px solid var(--background);
    margin: 10px;
    padding-left: 1em;
    padding-block: 1em;
    resize: vertical;
    outline: none;
    width: 97%;
}

input[type=submit] {
    background-color: var(--secondary_color);
    color: var(--primary_color);
    padding-block: 1.3em;
    padding-inline: 3em;
    border-radius: 30px;
    width: fit-content;
    border: none;
}

input[type=submit]:hover {
    background-color: rgb(228, 35, 35);
}

.contact input:focus,
textarea:focus {
    border: 3px solid var(--secondary_color);
}

/* footer */
footer {
    height: auto;
    color: var(--primary_color);
    padding-bottom:2%;
    padding-top: 2em;
    background-image: linear-gradient(#0009, #0009), url(../images/textured-metal-background.jpg);
}

footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social,
.in_touch {
    width: 25%
}

.Newsletter {
    width: 50%;
}

.meal {
    display: inline-flex;
}

.meal img {
    width: 40px;
}

.meal h2 {
    padding-left: 0.25em;
    font-size: 1.8em;
}

.meal span {
    color: var(--secondary_color);
}

.meal~p {
    max-width: 17em;
    padding-bottom: 1em;
}

.meal~h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    padding-bottom: 0.5em;
    font-weight: 700;
    word-spacing: 1px;
}

.social h3::after {
    content: "";
    display: block;
    width: 95%;
    padding-top: 0.5em;
    border-bottom: 2px solid var(--paragraph);
}

.icons ul {
    display: inline-flex;
    flex-direction: row;
    gap: 1.7em;
    padding-left: 1.5em;
}

.icons ul li a {
    font-size: 1.5em;
    color: var(--primary_color);
}

.Newsletter h3,
.in_touch h3 {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 600;
    word-spacing: 1px;
    padding-bottom: 0.5em;
}

.Newsletter p {
    padding-bottom: 0.5em;
}

.new {
    padding-block: 0.5em;
}

.new input {
    padding-block: 0.8em;
    outline: none;
    width: 75%;

}

.new button {
    color: var(--primary_color);
    background-color: var(--secondary_color);
    width: 18%;
    padding-block: 0.8em;
    outline: none;
    border: none;
    font-weight: 400;
    font: 0.9em sans-serif;
    margin-bottom: 0.5em;
}
.new button:hover{
    cursor: pointer;
    background-color: rgb(228, 35, 35);
}

.Quick_links ul {
    display: flex;
    flex-wrap: wrap;
}

.Quick_links ul li {
    width: 50%;
    padding-block: 0.25em;
}

.Quick_links ul li a {
    color: var(--primary_color);
    transition: 0.5ms ease;
}

footer .Quick_links ul li:hover {
    background-color: rgba(192, 192, 192, 0.26);
}

footer .Quick_links ul li:hover::before {
    content: " ";
    margin-right: 0.5em;
}

.in_touch p span {
    color: var(--secondary_color);
    font-size: 1.3em;
    padding-right: 0.5em;
}